.footerDiv {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}
.footerDiv a {
  margin: 0 0.5rem;
  text-decoration: none;
}
.footerDivDark {
  color: white;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.footerDivDark a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: aqua !important;
}
@media (max-width: 40rem) {
  .footerDiv,
  .footerDivDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerDiv a,
  .footerDivDark a {
    margin: 0.8rem 0;
  }
}
